<div class="row featured_articles">
  <div class="eight columns">
    <table>
      <% @articles.each do |a| %>
        <tr><td><%= link_to a.title, a %></td></tr>
      <% end %>
    </table>
  </div>
  <div class="four columns">
    <img src="http://placehold.it/350x500" />
  </div>
</div>
