<div class="jumbotron">
  <div class="row">
    <div class="twelve columns">
      <div id="slider">
        <img src="http://placehold.it/1000x300" />
      </div>
    </div>
  </div>
</div>

<script>
  $(window).load(function() {
    $("#slider").orbit();
  });
</script>

<div class="row featured_articles">
  <div class="eight columns">
    <div class="row">
      <div class="four columns">
        <img src="http://placehold.it/200" />
      </div>
      <div class="four columns">
        <img src="http://placehold.it/200" />
      </div>
      <div class="four columns">
        <img src="http://placehold.it/200" />
      </div>
    </div>
  </div>
  <div class="four columns">
    <img src="http://placehold.it/350x500" />
  </div>
</div>
